html,
body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

// homepage below
.header-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   font-size: 2.5em;
   min-height: calc(100vh - 2em);
   padding: 0em;
}

header {
   color: black;
}

.App-link {
   color: #61dafb;
}

ul > li {
   list-style-type: none;
}

.navbar {
   background: #f0f0f0ec;
}

.navbar-brand {
   display: flex;
}

.navbar-left {
   display: flex;
}

// get rid of link underlines in navbar
div > a:hover {
   text-decoration: none;
}

body {
   display: flex;
   position: relative;
   flex-direction: column;
   color: #404d5b;
   margin: 0em;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   margin-bottom: 0em;
   background: #f0f0f0ec;
   min-height: 0.1em;
   padding: 1em 0.5em 0.5em 1em;
}

// .modal {
//    background: rgba(0, 0, 0, 0.3);
// }

// .modal-content {
//    padding: 30px;
//    max-height: 800px;
//    overflow-y: auto;
// }

// .react-form-builder {
//    width: 60em;
//    margin: 0 auto;
//    padding-top: 2em;
// }

// .react-form-builder-toolbar {
//    padding-top: 1em;
// }

// .react-form-builder-toolbar > h4 {
//    display: none;
// }

// .modal {
//    background: rgba(0, 0, 0, 0.3);
// }

// .modal-content {
//    padding: 30px;
//    max-height: 800px;
//    overflow-y: auto;
// }

// .Sortable {
//    background-color: white;
// }

// form builder below

.card-container {
   margin: 0em;
   padding: 2em 2em;
}

.cards {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   margin: 0em;
   @media (max-width: 768px) {
      &.is-flex-wrap-wrap {
         flex-wrap: wrap;
      }
   }
}

.cards > li {
   padding: 0.25em;
   // makes cards the same size
   width: 25%;
   max-width: 18em;
   @media (max-width: 768px) {
      &.is-4-mobile {
         width: 100%;
      }
   }
}

// dropzone
.dropzone {
   width: 300px;
   height: 500px;
   border: 2px solid black;
   margin-left: 15em;
}

.publish-btn {
   display: flex;
   justify-content: center;
   padding: 2em 0em 2em 33em;
}

.publish-btn > button {
   min-width: 11.25em;
}

// copy link publish page below:
// .card {
//    width: 65em;
// }

// .card-header {
//    display: flex;
//    flex-direction: column;
//    width: 100%;
// }

// .card-header-title {
//    font-size: 2em;
// }

// .copy-link-input {
//    display: flex;
//    padding: 0.7em;
//    font-size: 2em;
//    border: 0.1em solid #cccccc;
//    border-right: none;
//    outline: none;
//    width: 95%;
// }

// .copy-link-input:hover {
//    background: #eeeeee;
// }

// .copy-link-btn {
//    flex-shrink: 0;
//    width: 2em;
//    height: 2em;
//    background: #ffffff;
//    border: 0.2em solid #cccccc;
//    cursor: pointer;
// }

// .copy-link-button:hover {
//    background: #cccccc;
// }

// .row {
//    display: flex;
//    flex-direction: row;
// }

//hide "Toolbox" text only from FormView page
// div > h4 {
//    display:none;
// }

.submit-btn {
   padding: 2em 8em 2em 0em;
}

.submit-btn > button {
   min-width: 11.25em;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin-top: 5%;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.drag-box {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border: 1px solid black;
   height: 500px;
   width: 500px;
   background-color: lightblue;
}

.drop-board {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border: 1px solid black;
   height: 500px;
   width: 500px;
   background-color: lightgreen;
}
