html,
body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

// homepage below
.header-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   font-size: 2.5em;
   min-height: calc(100vh - 2em);
   padding: 0em;
}

header {
   color: black;
}

.App-link {
   color: #61dafb;
}

ul > li {
   list-style-type: none;
}

.navbar {
   background: #f0f0f0ec;
}

.navbar-brand {
   display:flex;
}

.navbar-left {
   display:flex;
}

// get rid of link underlines in navbar
div > a:hover {
   text-decoration: none;
}

body {
   display: flex;
   position: relative;
   flex-direction: column;
   color: #404d5b;
   margin: 0;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   margin-bottom: 0em;
   background: #f0f0f0ec;
   min-height: 0.1em;
   padding: 1em 0.5em 0.5em 1em;
}

// .modal {
//    background: rgba(0, 0, 0, 0.3);
// }

// .modal-content {
//    padding: 30px;
//    max-height: 800px;
//    overflow-y: auto;
// }

// .react-form-builder {
//    width: 60em;
//    margin: 0 auto;
//    padding-top: 2em;
// }

// .react-form-builder-toolbar {
//    padding-top: 1em;
// }

// .react-form-builder-toolbar > h4 {
//    display: none;
// }

// .modal {
//    background: rgba(0, 0, 0, 0.3);
// }

// .modal-content {
//    padding: 30px;
//    max-height: 800px;
//    overflow-y: auto;
// }

// .Sortable {
//    background-color: white;
// }

// form builder below
.card-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 1em;
   @media (max-width: 768px) {
      &.is-flex-wrap-wrap {
         flex-wrap: wrap;
      }
   }
}

.card-container > li {
   padding: 0.25em;
   // makes cards the same size
   width: 25%;
   max-width: 18em;
   @media (max-width: 768px) {
      &.is-4-mobile {
         width: 100%;
      }
   }
}

// dropzone
.dropzone {
   width: 300px;
   height: 500px;
   border: 2px solid black;
 }

.publish-btn {
   display: flex;
   justify-content: center;
   padding: 2em 0em 2em 33em;
}

.publish-btn > button {
   min-width: 11.25em;
}

// copy link publish page below:
// .card {
//    width: 65em;
// }

// .card-header {
//    display: flex;
//    flex-direction: column;
//    width: 100%;
// }

// .card-header-title {
//    font-size: 2em;
// }

// .copy-link-input {
//    display: flex;
//    padding: 0.7em;
//    font-size: 2em;
//    border: 0.1em solid #cccccc;
//    border-right: none;
//    outline: none;
//    width: 95%;
// }

// .copy-link-input:hover {
//    background: #eeeeee;
// }

// .copy-link-btn {
//    flex-shrink: 0;
//    width: 2em;
//    height: 2em;
//    background: #ffffff;
//    border: 0.2em solid #cccccc;
//    cursor: pointer;
// }

// .copy-link-button:hover {
//    background: #cccccc;
// }

// .row {
//    display: flex;
//    flex-direction: row;
// }

//hide "Toolbox" text only from FormView page
// div > h4 {
//    display:none;
// }

// static view form css for testing purposes
.view-react-form-builder {
   border: 1px solid #ddd;
   background: #fafafa;
   padding: 2em;
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
   min-height: 750px;
   width: 100%;

   .view-form-group {
      margin-bottom: 15px;
   }

   label {
      font-weight: normal;
   }

   .view-form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   }

   select.view-form-control {
      height: calc(1.5em + 0.75rem + 2px);
      padding-right: 2.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 5L0 1h4l-2 4z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 8px 10px;
   }

   .view-form-check {
      display: block;
      margin-bottom: 0.5rem;
   }

   .view-form-check-input {
      position: relative;
      margin-right: 0.5rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      // -webkit-print-color-adjust: exact;
      // color-adjust: exact;
      display: inline-block;
      vertical-align: middle;
      background-origin: border-box;
      user-select: none;
      width: 1rem;
      height: 1rem;
      border: 1px solid #adb5bd;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
         box-shadow 0.15s ease-in-out;
   }

   .view-form-check-input[type="checkbox"] {
      border-radius: 0.25rem;
   }

   .view-form-check-input[type="radio"] {
      border-radius: 50%;
   }

   .view-form-check-input:checked[type="checkbox"] {
      background-color: #3490dc;
      border-color: #3490dc;
   }

   .view-form-check-input:checked[type="radio"] {
      background-color: #3490dc;
      border-color: #3490dc;
   }

   .view-form-check-label {
      margin-bottom: 0;
      padding-left: 1.5rem;
      cursor: pointer;
   }
}

.submit-btn {
   padding: 2em 8em 2em 0em;
}

.submit-btn > button {
   min-width: 11.25em;
}

// .App {
//    text-align: center;
//    width: 100vw;
//    height: 100vh;
// }
