.header-wrapper {
    display:flex;
    justify-content: center;
    padding:5em 0em 12em 0em;
    font-size:2.5em;
}

header {
    color:black;
}

.App {
    padding-top:4em;
    text-align: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  ul > li {
    list-style-type: none;
  }
  
  /* body {
    font-size: 14px;
    font-weight: 300;
    width: 1200px;
    margin: 0 auto;
  } */
  
  .react-form-builder {
    width: 1200px;
    margin: 0 auto;
  }
  
  .modal {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    padding: 30px;
    max-height: 800px;
    overflow-y: auto
  }
  
  .Sortable {
    background-color:white;
  }
  
  
  
  
  
  