:root {
  font: 16px / 1 sans-serif;
  --primary-background: #1eaf9c;
  --secondary-background: #fbfbfb;
  --accent: #63707e;
}

/* html {
  height: 100%;
} */

/* body {
  height: 100%;
  width:100%;
  margin: 0em;
} */

nav {
  position: relative;
  background-color: var(--accent);
  color: white;
  padding-right: 2em;
}

nav,
ul,
a {
  font-size: 1.1em !important;
}

.about-me-header {
  color: var(--secondary-background);
  font-family: "Milonga", cursive;
  text-align: center;
  padding: 1em 1em 0.2em 1em;
  background-color: var(--accent);
}

.header {
  background-color: var(--primary-background);
  color: var(--secondary-background);
  font-family: "Milonga", cursive;
  text-align: center;
  padding: 2em 1em 0.2em 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.responsive-img {
  width: 50em;
}

.img-style {
  display: flex;
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-background);
  /* padding: 2em; */
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  width: 28em;
}

.card:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 24px;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

.card-action {
  border-radius: 0.5em;
}

/* spacing for card buttons */
.card-action > .waves-light {
  margin-left: 1em;
}

.card-image {
  max-width: 100%;
  max-height: 16em;
  border-radius: 0.5em;
}

.card-content {
  height: 12em;
}

strong {
  font-weight: 600;
}

.card-description {
  font-size: 1.25em;
  padding-top: 1em;
}

/* work section */
.work-container {
  background-color: var(--primary-background);
  padding-left: 2em;
}

.work-history-container {
  padding-top: 2em;
}

/*left side of work history */
.work-history-header {
  padding-left: 4em;
  height: 3vw;
}

/*right side of work history */
.work-logo-container {
  display: flex;
  position: relative;
  bottom: 4em;
  padding-right: 6em;
  justify-content: flex-end;
}

.work-logo {
  width: 15em;
}

.work-accomplishments {
  padding-top: 2em;
  list-style-type: circle;
  margin: 0em;
}

.work-list {
  list-style-type: circle !important;
  font-size: 1.25em;
}

.skills-container {
  display: flex;
  background-color: var(--primary-background);
  font-weight: 600;
  color: var(--secondary-background);
}

a {
  color: var(--secondary-background);
}

.row {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.col {
  flex: 1 0;
}

.logo {
  width: 5em;
  height: 5em;
  /* add background color for transparent logos */
  background-color: rgb(32, 30, 30);
}

.skill {
  padding: 0.5em;
}

#az {
  padding: 0.5em;
}

.about-me {
  display: flex;
  /* list-style: none; */
  background-color: var(--accent);
  padding: 2em;
  font-size: 1.5em;
  color: var(--secondary-background);
  line-height: 1.25em;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.download-resume {
  padding-top: 1em;
}

.contact-header {
  display: flex;
  justify-content: center;
  font-family: "Milonga", cursive;
  font-weight: 600;
  color: var(--accent);
}

.contact-form {
  padding: 2em;
  background-color: var(--secondary-background);
}

.input-field {
  font-size: 1.25em;
}

textarea {
  height: 4em;
}

.message-btn {
  margin-top: 1em;
  font-size: 1.2em;
  border-radius: 0.5em;
  padding: 0.75em 1em 2em 1em;
}

.page-footer {
  padding: 0.1em;
  height: 6em;
  background-color: var(--primary-background);
  color: var(--secondary-background);
  font-size: 1.5em;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.linkedin,
.github,
.codewars,
.leetcode {
  position: relative;
  padding: 0.2em;
  padding-right: 0.4em;
  height: 42px;
  width: 42px;
  border-radius: 0.9em;
}

.fab-container {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100%;
  font-size: 40px;
  border-radius: 2em;
  background-color: var(--accent);
}

.fab-icon {
  background-color: var(--accent);
  padding-left: 0.3em;
  padding-top: 0.2em;
}

.fab {
  width: 60px;
  height: 60px;
}

.fab-options {
  position: absolute;
  list-style-type: none;
  bottom: 70px;
  right: 0;
  opacity: 0;
  margin: 0;
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 10px;
}

.fab-label:hover {
  font-weight: bold;
}

.fab:hover + .fab-options,
.fab-options:hover {
  opacity: 1;
}

/* iPad Pro */
@media (max-width: 1024px) and (max-height: 1366px) {
  .overlay {
    height: 34em;
    width: 64em;
  }
}

/* iPad */
@media (max-width: 768px) and (max-height: 1024px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }

  .main-menu-right {
    width: 20em;
  }

  .overlay {
    height: 30em;
    width: 48em;
  }

  .about-me {
    padding: 1em;
  }

  .about-container {
    line-height: 1em;
  }
}

/* iPhone X */
@media (max-width: 375px) {
  nav {
    width: 48em;
  }

  .main-menu-right {
    position: relative;
  }

  .project-header,
  .photo-container,
  .skill-container,
  .about-me,
  .contact-form,
  .page-footer {
    width: 205%;
  }
}

/* Galaxy S5 */
@media (max-width: 360px) {
  /* body {
    width:50em;
  } */

  nav {
    width: 22.5em;
  }

  .overlay {
    height: 15em;
    width: 22.5em;
  }

  .project-header,
  .skill-container,
  .about-me,
  .contact-form,
  .page-footer {
    width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0em;
  }

  .skill-container {
    display: flex;
    flex-direction: column;
  }

  .language-container,
  .framework-and-library-container,
  .concept-container,
  .software-tool-container,
  .deployment-environment-container {
    padding: 0.2em;
  }

  .profile-pic-container {
    display: none;
  }

  .about-container {
    display: flex;
    flex-wrap: wrap;
    line-height: 1em;
  }
}
